<div class="row">
  <div class="column padding-reset">
    <div class="ui huge message page grid">
      <h1 class="ui huge header">Welcome !</h1>
      <p>This is an application that gives you the opportunity to note down all your videos</p>
      <a class="ui blue button">Learn more »</a>
    </div>
  </div>
</div>