<div class="ui centered grid">
  <div class="six wide tablet eight wide computer column">
    <form method="POST" action="/api/ideas" class="ui form piled segment">
      <div class="field">
        <h1 class="ui center aligned header">Video Idea</h1>
        <label>Title</label>
        <input type="text" name="title" placeholder="Add Title">
      </div>
      <div class="field">
        <label>Details</label>
        <textarea type="text" name="details" placeholder="Write some details here">
        </textarea>
      </div>
      <button class="ui secondary button" type="submit">Save</button>
    </form>
  </div>
</div>